@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
body {
  background-image: url(https://i.pinimg.com/736x/33/ac/6a/33ac6af8e90054568ab47ad0ef2d02a2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
}

.carta {
  padding-top: 15px;
  padding-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 210px;
  height: 230px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJxn70674qv-Ml_jFKAu4e8ZLYMUUlGUyOKA&usqp=CAU);
  background-size: cover;
  border-radius: 25px;
  border: 2px outset rgba(20, 88, 245, 0);
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  margin-top: 25px;
}

.carta:hover {
  background-image: url(https://pbs.twimg.com/media/EDA1GeMUYAA9ADS.jpg);
  background-size: 30vh;
  background-position: center;
  transform: scale(1.2);
  filter: drop-shadow(0 0 1rem rgb(226, 39, 76));
}

.imagen {
  margin-top: -12px;
  width: 160px;
  height: 220px;
  display: flex;
  justify-content: center;
  padding-left: 13%;
  padding-right: 0%;
}

.nombre {
  font-size: 15px;
  width: 90%;
  text-align: center;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Press Start 2P", cursive;
  color: rgb(13, 31, 4);
  text-transform: capitalize;
  border-color: black;
  margin-top: -2px;
}

.tipo {
  font-size: 10px;
  width: 90%;
  text-align: center;
  margin-bottom: 0px;
  padding-left: 10px;
  color: rgb(13, 31, 4);
  text-transform: capitalize;
  border-color: black;
  margin-top: 3px;
  font-family: "Press Start 2P", cursive;
}

.id {
  font-size: 15px;
  text-align: center;
  padding-left: 7px;
  color: rgb(13, 31, 4);
  text-transform: capitalize;
  border-color: black;
  font-family: "Press Start 2P", cursive;
  margin-top: -15px;
}

.container {
  padding-top: 10px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  overflow: hidden;
  padding-right: 5px;
  padding-top: 50px;
}

.buscador {
  display: flex wrap;
  justify-content: center;
  align-content: center;
  font-family: "Press Start 2P", cursive;
}

input {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 13px;
  border-radius: 25px;
  height: 30px;
  width: 590px;
  border: solid;
  border-color: rgba(0, 0, 0, 0.898);
  padding-bottom: 5px;
  font-family: "Press Start 2P", cursive;
  font-size: medium;
  background-color: rgb(255, 255, 255);
}

.box-buscador {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.titulo-buscador {
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

.titulo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 150px;
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke: 3px #3B5BA7;
  color: rgb(208, 205, 0);
}

marquee {
  display: inline-block;
  text-align: initial;
}/*# sourceMappingURL=style.css.map */