@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
body{
    background-image: url(https://i.pinimg.com/736x/33/ac/6a/33ac6af8e90054568ab47ad0ef2d02a2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    padding-left: 20px;
    padding-right: 20px;

}