@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
.container{
    padding-top: 10px;
    background-color: transparent;
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
    overflow: hidden;
    padding-right: 5px;
    padding-top: 50px;
}