@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
.titulo{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 150px ;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke: 3px #3B5BA7;
    color:rgb(208, 205, 0);
}
marquee {
    display: inline-block;
    text-align: initial;
}

